 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    <!--Comment below using Visual Studio CTRL K+C-->
    @*Welcome! @ViewBag.Username, Your Password is @ViewBag.Password.*@
    @ViewBag.Message
</body>
</html>
