 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginSuccess</title>
</head>
<body>
    <h2>Welcome!</h2>
    @ViewBag.Username, Your Password is @ViewBag.Password.
</body>
</html>
