
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loginpost</title>
</head>
<body>
    <h2>Welcome!@ViewBag.Username, Your Password is @ViewBag.Password.</h2>
</body>
</html>
