
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<h2>Home Page.</h2>
<!--Now test https://localhost:.../Account/GetAccount-->
<body>
</body>
</html>
