@model coreFormsAndValidations.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>
    <h2>User Details</h2>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>
</body>
</html>
